* { margin: 0; padding: 0; }
h1 { font-family: Gugi, Arial, sans-serif; font-size: 30px; text-align: center; margin: 25px 0; }

/* Game Space */
#game-space { margin: 0 auto; background-color: #ddd; width: 640px; height: 480px; position: relative; font-family: Gugi, Arial, sans-serif; }
#game-space:after { text-transform: uppercase; position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: block; background-color: #ffffffa0; padding-top: 230px; font-size: 20px; text-align: center;}
#game-space.paused:after { content: 'Paused' }
#game-space.game-over:after { content: 'Game Over'; }

#player { background-color: #00f; position: absolute; width: 30px; height: 30px; transition: box-shadow .25s, background-color .25s; }
#player.charged { box-shadow: 0px 0px 17px #00ff08; }
#player.boosting { background-color: #00ff08; }

#box, .hazard { border: 1px solid #000; position: absolute; }

#treasure { background-color: #ff0; position: absolute; width: 30px; height: 30px; }

#score-text { font-size: 14px; margin-left: 5px; padding-top: 2px; }
